body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo{
    position: relative;
    left: 60px;
}
.option{
   padding-top: 20px;
}
.btn,.pro{
    margin-right: 10px;
    height: 30px;
    border: none;
    background-color: white;
    font-size: 20px;
}
.search{
    width: 400px;
    height: 30px;
    position: relative;
    top: 20px;
    
}
.profile{
    padding-top: 20px;
    padding-right: 20px;

}
.mid{
    background-color: rgb(246,246,241);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    justify-content: center;
}
.card{
    background-color: rgb(50, 112, 50);
    color: white;
}